h1{
    text-align: center;
    color: red;
}

h2{
    font-family: fantasy;
    background-color: darkgreen;
}

h3{
    color: gray;
    font-family: sans-serif;
}

p{
    font-family: fantasy;
}

table{
    border: 2px solid black;
    font-family: arial, sans-serif;
    background-color:lightgray;
}

td{
    border: 1px solid black;
}
th{
    border: 1px solid red;
}